* {
    margin: 0px;
    padding: 0px;
}


.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 8px;
    padding-bottom: 20px;
    height: 75px;

}

h3 {
    color: #f9FaF8;
    font-size: 24px;
    font-weight: bold;
    background-color: #1f2937;

}

.nav {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    gap: 8px;    
}

a {
    color: #e5e7eb;
    text-decoration: none;

}

li {
    list-style: none;
}

.main-content {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    
}

.hero {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

h1 {
    display: flex;
    font-size: 48px;
    color: #f9FaF8;
}
p {
    display: flex;
    font-size: 18px;
    justify-content: center;
    color: #e5e7eb;
}

.photo {
    display: flex;
    justify-content: flex-end;
    max-width: 200px;
}

img {
    display: flex;
    justify-content: flex-end;
   max-width: 200px;
    height: auto;
    
}

button {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    height: 50px;
    align-items: center;
    width: 200px;
    background-color:#3882f6 ;
    color: #f9FaF8;
    font-size: 18px;

    border: none;
    border-radius: 12px;
    margin-top: 25px;
}

.large-info {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    
}

.infoboard {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 35px;
    height: 250px;
}

.small-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: min-content;
    border-radius: 12px;
    gap: 12px;
    
}

.small-content img {
    display: flex;
    border-radius: 12px;
    border: #3882f6 6px solid;
}

.infos {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #e5e7eb ;
    padding: 50px;
    justify-content: center;
    font-weight: 100;
}

.quote q {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
  
}

.quote p {
    color: #1f2937;
    font-size: 20px;
    font-weight: bold;
    justify-content: end;
}

.sign-up {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.boxx {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9FaF8;
    font-size: 24px;
    height: 100px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}

.sign-up p{
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 200;

}
.shop-button {
    display: flex;
    
    align-items: center;
}

.shop-button button{
    border-radius: 8px;
    border: #f9FaF8 solid 2px;
    display: flex;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 50px;
    
}

.footbox {
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    color: #f9FaF8;
    background-color: #1f2937;

}